.cursor {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: $color-secondary;
  border-radius: 50%;
  mix-blend-mode: difference;

  &.cursorHovered {
    mix-blend-mode: normal;
    // background-color: transparent;
    transition: background-color 0.2s ease;
  }
}
