.social {
  @include flex-column;

  &__stripe {
    @include stripe;
    opacity: 0.5;
    background-color: $color-border-light;
  }

  &__wrap {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }

  &__item {
    display: inline-flex;
    font-size: 0.8em;
    margin-right: 2em;
    margin-top: 1em;
    position: relative;
    flex-direction: column;
    width: auto;
  }
  &__underline {
    position: absolute;
    bottom: -0.5em;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-text-light;
    border-radius: 5%;
    transform: scaleX(0);
    transform-origin: center bottom;
    transition: transform 0.3s ease;
  }

  &__item:hover &__underline {
    transform: scaleX(1);
  }

  @include respond-to("small") {
    &__stripe {
      display: none;
    }

    &__wrap {
      justify-content: space-between;
    }
    &__item {
      margin-right: 0;
      margin-top: 0;
    }
  }
}

.wrap {
}
