.landing {
  @include flex-all-center;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  &__container {
    position: relative;
    max-width: 100vw;
    height: auto;
    display: grid;
    border: $border-primary;
    grid-auto-flow: row;
    box-sizing: border-box;

    background-color: greenyellow;
    grid-template-columns: repeat(8, $grid-size-desktop);
    grid-template-rows: repeat(4, $grid-size-desktop);
    transition: $animation-primary;

    @include mobile {
      grid-template-columns: repeat(3, $grid-size-mobile);
      grid-template-rows: repeat(7, $grid-size-mobile);
      background-color: blueviolet;
    }

    @include tablet {
      background-color: pink;
      grid-template-columns: repeat(4, $grid-size-tablet);
      grid-template-rows: repeat(6, $grid-size-tablet);
    }
  }
}

.grid {
  @include flex-all-center;
  border: $border-primary;
  // background-color: $color-primary;
  width: 100%;
  height: 100%;

  aspect-ratio: 1 / 1;

  @include mobile {
    &:nth-child(n + 13) {
      display: none;
    }
  }

  @include tablet {
    &:nth-child(n + 14) {
      display: none;
    }
  }
}

.grid__1 {
  //icon
  grid-area: 1/1/2/2;
  background: $gradient-45deg;

  @include mobile {
    grid-area: 1/1/2/2;
  }

  @include tablet {
    grid-area: 1/1/2/2;
  }
}

.grid__2 {
  // name

  grid-area: 1/2 / span 2 / span 3;
  background-color: $color-primary;

  @include mobile {
    grid-area: 2/1 / span 2 / span 3;
  }

  @include tablet {
    grid-area: 1/2 / span 2 / span 3;
  }
}

.grid__13 {
  // half circle
  grid-column: 5/6;
  grid-row: 1/3;
  background-color: $color-secondary;

  @include tablet {
    grid-area: 3 /1 / span 2 / span 1;
  }
}

.grid__3 {
  //title

  grid-area: 3/ 5 / span 1 / span 4;

  background: $gradient-90deg;

  @include mobile {
    grid-area: 6/1 / span 1 / span 3;
  }

  @include tablet {
    grid-area: 5/1 / span 1 / span 4;
  }
}

.grid__4 {
  //base on

  grid-area: 4/1 / span 1 / span 2;
  background-color: $color-secondary;

  @include mobile {
    grid-area: 1/2 / span 1 / span 2;
  }

  @include tablet {
    grid-area: 6 /1 / span 1 / span 2;
  }
}

.grid__5 {
  //contact

  grid-area: 4/7 / span 1 / span 2;
  background-color: $color-secondary;

  @include mobile {
    grid-area: 7/2 / span 1 / span 2;
  }
  @include tablet {
    grid-area: 6 /3 / span 1 / span 2;
  }
}

.grid__6 {
  //about
  @include mobile {
    grid-area: 4 /1 / span 1 / span 1;
  }

  @include tablet {
    grid-area: 3 /2 / span 1 / span 1;
  }
}

.grid__7 {
  // work circle
  @include mobile {
    grid-area: 4/ 2 / span 1 / span 1;
  }
  @include tablet {
    grid-area: 3/ 3 / span 1 / span 1;
  }
}

.grid__8 {
  // resume
  @include mobile {
    grid-area: 4/ 3 / span 1 / span 1;
  }
  @include tablet {
    grid-area: 3/ 4 / span 1 / span 1;
  }
}

.grid__9 {
  // year
  @include mobile {
    grid-area: 7/ 1 / span 1 / span 1;
  }
  @include tablet {
    grid-area: 2/ 1 / span 1 / span 1;
  }
}

.grid__10 {
  //about squre
  @include mobile {
    grid-area: 5/ 1 / span 1 / span 1;
  }

  @include tablet {
    grid-area: 4/ 2 / span 1 / span 1;
  }
}

.grid__11 {
  // work
  @include mobile {
    grid-area: 5/ 2 / span 1 / span 1;
  }

  @include tablet {
    grid-area: 4/ 3 / span 1 / span 1;
  }
}

.grid__12 {
  // resume triangle
  @include mobile {
    grid-area: 5/ 3 / span 1 / span 1;
  }

  @include tablet {
    grid-area: 4/ 4 / span 1 / span 1;
  }
}
