.landing {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__name {
    display: flex;
    flex-direction: column;
  }

  &__line {
    position: absolute;
    max-width: 100%;
    //object-fit: cover;

    &--mobile {
      display: block;
      aspect-ratio: 9/16;
    }

    &--desktop {
      display: none;
    }

    @include respond-to("medium") {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: block;
        aspect-ratio: 16/9;
      }
    }
  }
}
