:root {
  --section-padding: $section-padding;
  --container-padding: $container-padding;
  --gap-padding: $gap-padding;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  overflow: hidden;
  /* cursor: wait; Add after Preloader*/
  color: $color-text-light;
  background-color: $color-primary;
  font-size: 16px; //fallback
  font-size: clamp(16px, 1.2vw, 19px);
}

html,
body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-color: $color-primary;
}

@include respond-to("small") {
  :root {
    --container-padding: clamp(1.25em, 4vw, 2.5em);
    --section-padding: max(2.5em, 12vh);
    background-color: $color-primary-light; //test
  }
}
@include respond-to("medium") {
  :root {
    --section-padding: 12vh;
    background-color: $color-secondary; //test
  }
}
@include respond-to("large") {
  :root {
    --container-padding: 6vw;
    background-color: $color-tertiary; //test
  }
}
