:root {
  font-size: $font-size-base;
}
body {
  margin: 0px;
  overflow: hidden;
  /* cursor: wait; Add after Preloader*/
  color: $color-text-light;
  background-color: $color-primary;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include respond-to("medium") {
  :root {
    font-size: $font-size-md;
    background-color: $color-secondary; //test
  }
}

@include respond-to("large") {
  :root {
    font-size: $font-size-lg;
    background-color: $color-tertiary; //test
  }
}
