/* ---------------- Typography ---------------- */

@font-face {
  font-family: "MidCentury";
  src: url("./MidCentury.otf") format("opentype"),
    url("./MidCentury.ttf") format("truetype"),
    url("./MidCentury.woff") format("woff"),
    url("./MidCentury.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "MT-light";
  src: url("./MONTECHV02-Light.otf") format("opentype"),
    url("./MONTECHV02-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "MT-regular";
  src: url("./MONTECHV02-Regular.otf") format("opentype"),
    url("./MONTECHV02-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
