.item {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: calc(var(--gap-padding) / 4);
}
.indicator {
  width: calc(clamp(16px, 1.2vw, 19px) / 1.65);
  height: calc(clamp(16px, 1.2vw, 19px) / 1.65);
  background-color: $color-text-light;
  border-radius: 50%;
  position: absolute;
  right: 0;
  transform: scale(0); // initially hidden
  transition: transform 0.1s ease;

  &.active {
    transform: scale(1);
    // visible when active
  }
  &.hover {
    transform: scale(1);
  }

  @include respond-to("small") {
    right: auto;
    margin-left: calc(var(--gap-padding) / -1);
  }
}
