$color-primary: #574940;
$color-secondary: #b9cac9;
$color-tertiary: #878187;
$color-text: #ffffff;

$color-primary-light: lighten($color-primary, 15%);
$color-primary-dark: darken($color-primary, 15%);
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);

:export {
  // Colors
  primary: $color-primary;
  primary-light: $color-primary-light;
  primary-dark: $color-primary-dark;
  secondary: $color-secondary;
  secondary-light: $color-secondary-light;
  secondary-dark: $color-secondary-dark;
  tertiary: $color-tertiary;
}
