/* ----------------  Define breakpoints ---------------- */
$breakpoints: (
  "small": 540px,
  // Mobile devices
  "medium": 768px,
  // Tablets
  "large": 1024px,
  // Small desktops
);

/** ----  for responsive design ---- **/
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}.";
  }
}

// Breakpoints
$breakpoint-mobile: 540px;
$breakpoint-tablet: 820px;
$breakpoint-desktop: 1024px;

// Mixins for responsive design
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-mobile + 1}) and (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-tablet + 1}) {
    @content;
  }
}
/* ----------------  Display Flex variables ---------------- */
@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

/* ----------------  Common Element ---------------- */
@mixin stripe {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $color-border;
}

@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@mixin fixed-nav-back {
  position: fixed;
  background: linear-gradient(
    to right,
    hsla(220, 13%, 0%, 0.3) 40%,
    rgba(0, 0, 0, 0) 80%
  );
  z-index: 999;
  pointer-events: all;
}

@mixin small-circle {
  position: absolute;
  width: clamp(1em, 1.5vw, 1.5em);
  height: clamp(1em, 1.5vw, 1.5em);
  background-color: $color-light;
  border-radius: 50%;
}

@mixin grid-right-bottom {
  align-self: end;
  justify-self: end;
  padding: 0.5em;
}
