/* ---------------- Fonts Size ---------------- */
$base-font-size: 16px;

/* ---------------- Color Variables ---------------- */
$color-primary: #000000;
$color-secondary: #f28705;
$color-tertiary: #f25c05;

$color-primary-light: lighten($color-primary, 15%);
$color-primary-dark: darken($color-primary, 15%);
$color-secondary-light: lighten($color-secondary, 15%);
$color-secondary-dark: darken($color-secondary, 15%);
$color-tertiary-light: lighten($color-tertiary, 15%);
$color-tertiary-dark: darken($color-tertiary, 15%);

$color-border: rgba(242, 240, 228, 0.5);
$color-border-solid: #f2f0e4;
$color-border-light: rgba(242, 240, 228, 0.5);

$color-text-light: #ffffff;
$color-text-dark: #1c1d20;

/* ---------------- Animation variables ---------------- */
// for controlling the duration and easing of animations
$animation-primary: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
$animation-fast: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
$animation-smooth: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
$animation-slow: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);

/* ---------------- Container Padding variables ---------------- */
$section-padding: clamp(5em, 21vh, 12em);
$container-padding: clamp(2.5em, 8vw, 8em);
$gap-padding: clamp(1.5em, 4vw, 2.5em);
