@import "./fonts/fonts.scss";

:root {
  --section-padding: clamp(5em, 21vh, 12em);
  --container-padding: clamp(2.5em, 8vw, 8em);
  --gap-padding: clamp(1.5em, 4vw, 2.5em);
}

@include respond-to("small") {
  :root {
    background-color: $color-primary-light; //test
  }
}
@include respond-to("medium") {
  :root {
    background-color: $color-secondary; //test
  }
}
@include respond-to("large") {
  :root {
    background-color: $color-tertiary; //test
  }
}

/* ------------------------- Body -------------------------------------------------- */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  overflow: hidden;
  /* cursor: wait; Add after Preloader*/
  color: $color-text-light;
  background-color: $color-primary;
  font-size: $base-font-size;
  font-size: fluid-size(14px, 18px, 20vw, 120vw);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
span,
strong,
em {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 450;
  letter-spacing: normal;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
p:last-child,
p.big:last-child,
p.small:last-child,
a:last-child,
strong:last-child {
  margin-bottom: 0;
}
h1 {
  font-family: "CF-custome", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: clamp(3.25em, 7vw, 8em);

  line-height: 1.065;
  margin-bottom: 1em;
}
h2 {
  font-family: "CF-regular", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: clamp(2.66em, 4.65vw, 5.32em);
  line-height: 1.065;
  margin-bottom: 1em;
}

h3 {
  font-family: "CF-regular", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: calc(clamp(3.25em, 5vw, 4.5em) * 0.75);
  line-height: 1.065;
  margin-bottom: 0.66em;
}

h4 {
  font-family: "CF-inline", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: clamp(1.55em, 2.3vw, 2.5em);
  line-height: 1.45;
  margin-bottom: 1em;
}

h5 {
  font-family: "CF-inline", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: 0.6em;
  line-height: 1.065;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.5;
}

p,
span {
  font-family: "MT-light", sans-serif;
  font-weight: 450;
  font-style: normal;
  color: $color-text-light;
  font-size: 1em;
  line-height: 1.66;
  margin-bottom: 1em;
}

p.small {
  font-size: 0.8em;
  line-height: 1.75;
  letter-spacing: 0.015em;
}

p.big {
  font-size: 1.2em;
}

strong {
  font-weight: 800;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}
