.link {
  position: relative;
  display: flex;
  align-items: center;

  .indicator {
    width: 10px;
    height: 10px;
    background-color: $color-text-light;
    border-radius: 50%;
    position: absolute;
    right: 30px;

    @include respond-to("small") {
      right: 0;
      left: -40px;
    }
  }
}
