.menu {
  position: fixed;
  right: 0;
  height: 100vh;
  background-color: var(--color-primary-dark);

  .body {
    padding: 100px;
    display: flex;
    justify-content: space-between;

    .nav {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 80px;
      font-size: 1.5rem;
    }
  }
}
