.nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  color: $color-text-light;
  background-color: $color-primary-dark;
  z-index: 1000;

  &__inner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100%;
    padding: 10vh var(--container-padding);

    @include respond-to("small") {
      max-width: clamp(400px, 40vw, 550px);
    }
    @include respond-to("large") {
      padding: 10vh 6vw;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  }
  h5 {
    opacity: 0.5;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
  }

  &__stripe {
    @include stripe;
    background-color: $color-border-light;
    margin-bottom: 2em;
  }

  &__list {
    gap: 0.4rem;
  }
  &__back {
    @include overlay;
    @include fixed-nav-back;
  }
}
