.menu {
  position: fixed;
  right: 0;
  height: 100vh;
  background-color: var(--color-primary-dark);

  .body {
    padding: 100px;
    display: flex;
    justify-content: space-between;

    .nav {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 80px;
      font-size: var(--font-size-base);

      .header {
        font-size: calc(var(--font-size-base) * 0.8);
      }
    }
  }
}
