/*--- Header ---*/
.header {
  @include flex-center;
  justify-content: space-between;
  position: absolute;
  padding: calc(var(--gap-padding) / 1.2);
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  color: $color-text-light;
  font-size: 1em;

  // Header - Left Logo
  &__logo {
    @include flex-center;
    cursor: pointer;
    span {
      transition: $animation-primary;
    }
  }

  &__name {
    @include flex-center;
    position: relative;
    transition: $animation-primary;
    overflow: hidden;
    white-space: nowrap;
    span {
      margin-left: 0.3em;
    }
  }
  // Header - Right Navigation
  &__nav {
    @include flex-center;
    margin: 0;
  }

  &__item {
    @include flex-center;
    position: relative;
    cursor: pointer;
    margin-right: 1.5em;

    &:hover .header__indicator {
      transform: scale(1.5);
    }
  }
  &__indicator {
    position: absolute;
    width: 0.35em;
    height: 0.35em;
    top: 2em;
    left: 50%;
    background-color: white;
    border-radius: 50%;
    transform: scale(0) translateX(-50%);
    transition: $animation-primary;
  }
}

/*--- Burger Menu---*/
.burger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: calc(var(--gap-padding) / 1.5);
  top: calc(var(--gap-padding) / 1.5);
  width: clamp(4em, 5.5vw, 5em);
  height: clamp(4em, 5.5vw, 5em);
  border-radius: 50%;
  background-color: $color-tertiary;
  cursor: pointer;
  z-index: 2;

  &:hover {
    background-color: $color-tertiary-dark;
  }

  &--active {
    background-color: $color-tertiary-dark;

    &:hover {
      background-color: $color-tertiary;
    }
  }

  &__icon {
    width: 100%;
    &::after,
    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 40%;
      margin: auto;
      background-color: $color-text-light;
      position: relative;
      transition: transform 0.3s;
    }

    &::after {
      top: -5px;
    }

    &::before {
      top: 5px;
    }

    &--active {
      &::after {
        transform: rotate(45deg);
        top: -1px;
      }

      &::before {
        transform: rotate(-45deg);
        top: 0px;
      }
    }
  }
}
