// Header style
.burgerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: calc(var(--gap-padding) / 1.5);
  top: calc(var(--gap-padding) / 1.5);
  width: clamp(4em, 5.5vw, 5em);
  height: clamp(4em, 5.5vw, 5em);
  border-radius: 50%;
  background-color: $color-tertiary;
  cursor: pointer;
  z-index: 2;

  &:hover {
    background-color: $color-tertiary-dark;
  }
}
.burgerButtonActive {
  background-color: $color-tertiary-dark;

  &:hover {
    background-color: $color-tertiary;
  }
}

.icon {
  width: 100%;
  &::after,
  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin: auto;
    background-color: $color-text-light;
    position: relative;
    transition: transform 0.3s;
  }

  &::after {
    top: -5px;
  }

  &::before {
    top: 5px;
  }
}

.iconActive {
  &::after {
    transform: rotate(45deg);
    top: -1px;
  }

  &::before {
    transform: rotate(-45deg);
    top: 0px;
  }
}
