.projects {
  display: flex;
  align-items: center;

  .container {
    width: 100%;
    padding: var(--container-padding);

    .project {
      border-top: 1px solid $color-secondary;

      &:last-child {
        border-bottom: 1px solid $color-secondary;
      }
    }
  }
}
